<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Ahraz Portfolio</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/normalize.css">
<!--<link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">-->
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/about.css">
<link rel="stylesheet" href="/css/projects.css">
<link rel="stylesheet" href="/css/contact.css">
<link rel="stylesheet" href="/css/responsive.css">
</head>

<body>
    <header>
        <h1>Ahraz<span>|</span></h1>
    </header>

    <div class="menu" onClick="toggleMenubar(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>
    <aside id="menu-list">
        <div id="menu-wrapper">
            <div class="sidebar" id="about">
                <a id="about-link" href="#">About</a>
                <div class="banner" id="b1"></div>
            </div>
            <div class="sidebar" id="blog">
                <a id="blog-link" href="">Blog</a>
                <div class="banner" id="b2"></div>
            </div>
            <div class="sidebar" id="projects">
                <a id="projects-link" href="">Portfolio</a>
                <div class="banner" id="b3"></div>
            </div>
            <div class="sidebar" id="contact">
                <a id="contact-link" href="" onclick="">Contact</a>
                <div class="banner" id="b4"></div>
            </div>
        </div>
    </aside>

    <section id="content">
        <article class="textbox">
            <h2>Software Developer</h2>
            <hr class="long-hr">
            <p>I started developing with Python at the age of 15, in 2010. Since then, I have grown from a hobbyist to a professional through hard work & dedication. Currently I am finishing up my Software Engineering & Management BSc at the University of
                Gothenburg, Sweden. Alongside my education I have industrial experience working as a full-stack developer. </p>
            <p> I bring transparent, honest communication and consistency & reliability above all. It is my belief that a good software developer keeps his customers in the loop - it's my job to tell you what you can, and cannot do. </p>
            <p> Web-related technologies are my specialty, I spend much of my professional time building/maintaining large Python applications or working with client/server-side JavaScript. </p>
            <p> I have professional experience with NoSQL databases (MongoDB), relational databases (SQL)</p>
            <p> I have experience with the following languages: Python, JavaScript, C#, Java, Erlang</p>
        </article>

        <article id="main-content">

        </article>

        <div style="clear: both"></div>

        <div id="skills">
            <h2>My top skills</h2>
            <hr class="short-hr">
            <div id="line-margin">
                <div class="skill-container">
                    <div class="radial-progress">
                        <div id="c1" class="circle">
                            <div class="mask full">
                                <div class="fill"></div>
                            </div>
                            <div class="mask half">
                                <div class="fill"></div>
                                <div class="fix fill"></div>
                            </div>
                            <div class="shadow"></div>
                        </div>
                        <div class="inset">
                            <h3>75%</h3>
                        </div>
                    </div>
                    <h4>Python</h4>
                </div>
                <div class="skill-container">
                    <div class="radial-progress">
                        <div id="c2" class="circle">
                            <div class="mask full">
                                <div class="fill"></div>
                            </div>
                            <div class="mask half">
                                <div class="fill"></div>
                                <div class="fix fill"></div>
                            </div>
                            <div class="shadow"></div>
                        </div>
                        <div class="inset">
                            <h3>75%</h3>
                        </div>
                    </div>
                    <h4>Flask</h4>
                </div>
                <div class="skill-container">
                    <div class="radial-progress">
                        <div id="c3" class="circle">
                            <div class="mask full">
                                <div class="fill"></div>
                            </div>
                            <div class="mask half">
                                <div class="fill"></div>
                                <div class="fix fill"></div>
                            </div>
                            <div class="shadow"></div>
                        </div>
                        <div class="inset">
                            <h3>60%</h3>
                        </div>
                    </div>
                    <h4>Javascript</h4>
                </div>
                <div class="skill-container">
                    <div class="radial-progress">
                        <div id="c4" class="circle">
                            <div class="mask full">
                                <div class="fill"></div>
                            </div>
                            <div class="mask half">
                                <div class="fill"></div>
                                <div class="fix fill"></div>
                            </div>
                            <div class="shadow"></div>
                        </div>
                        <div class="inset">
                            <h3>50%</h3>
                        </div>
                    </div>
                    <h4>NodeJs</h4>
                </div>
                <div class="skill-container">
                    <div class="radial-progress">
                        <div id="c5" class="circle">
                            <div class="mask full">
                                <div class="fill"></div>
                            </div>
                            <div class="mask half">
                                <div class="fill"></div>
                                <div class="fix fill"></div>
                            </div>
                            <div class="shadow"></div>
                        </div>
                        <div class="inset">
                            <h3>40%</h3>
                        </div>
                    </div>
                    <h4>C#</h4>
                </div>
                <div class="skill-container">
                    <div class="radial-progress">
                        <div id="c6" class="circle">
                            <div class="mask full">
                                <div class="fill"></div>
                            </div>
                            <div class="mask half">
                                <div class="fill"></div>
                                <div class="fix fill"></div>
                            </div>
                            <div class="shadow"></div>
                        </div>
                        <div class="inset">
                            <h3>40%</h3>
                        </div>
                    </div>
                    <h4>HTML/CSS</h4>
                </div>
            </div>
        </div>
        <!--<section>
            <h2>Portfolio</h2>
            <div class="port">
                <hr class="long-hr">
                <i class="fa fa-briefcase fa-2x" aria-hidden="true"></i>
                <p> SoftwareSkills</p>
                <hr class="long-hr">
            </div>
            <div class="port">
                <hr class="long-hr">
                <i class="fa fa-graduation-cap fa-2x" aria-hidden="true"></i>
                <p>Software Engineering & Management, Gothenburg University</p>
                <hr class="long-hr">
            </div>
        </section>-->
        <div>
    </section>
    <div id="project-portfolio">
        <div class="project">
            <div class="card" id="card-1">
                <img src="../images/novely.png">
            </div>
            <div class="project-info">
                <h3>Novely</h3>
                <p>An online novel writing website - write your own novels and export it with a nice cover bla bla write whatever hewe </p>
                <ul class="tech">
                    <li>NodeJs</li>
                    <li>Express</li>
                    <li>PassportJs</li>
                    <li>Webpack</li>
                    <li>Vue js</li>
                    <li>MongoDB</li>
                    <li>IndexedDB</li>
                </ul>
            </div>
        </div>
        <div class="project">
            <div class="card" id="card-2">
                <img src="../images/letsgive.png">
            </div>
            <div class="project-info">
                <h3>Letsgive</h3>
                <p>A map based website for users to give away their used goods for free you should also write some more text here so it looks nice </p>
                <ul class="tech">
                    <li>Python</li>
                    <li>Flask</li>
                    <li>Javascript</li>
                    <li>MongoDB</li>
                    <li>Leaflet</li>
                </ul>
            </div>
        </div>
        <div class="project">
            <div class="card" id="card-3">
                <img src="../images/n4u.png">
            </div>
            <div class="project-info">
                <h3>News4U</h3>
                <p>Social network review aggregator - displaying tweets from people reacting to news </p>
                <ul class="tech">
                    <li>Erlang</li>
                    <li>AngularJs</li>
                    <li>NodeJs</li>
                    <li>Express</li>
                    <li>MongoDB</li>
                </ul>
            </div>
        </div>
        <div class="project">
            <div class="card" id="card-4">
                <img src="../images/arduino.jpg">
            </div>
            <div class="project-info">
                <h3>Self driving vehicle</h3>
                <p>Self driving vehicle programmed on an arduino & an ordroid. Made to follow a lane, overtake and park on a track</p>
                <ul class="tech">
                    <li>C++</li>
                    <li>C</li>
                    <li>OpenDaVINCI(??)</li>
                </ul>
            </div>
        </div>
    </div>
    </div>

    <section id="contact-content">
        <h2>Contact me</h2>
        <div class="contact-info">
            <ul>
                <li id="listItem"><i class="fa fa-phone fa-lg"></i>
                    <p>Phone</p>
                </li>
                <li><i class="fa fa-github fa-lg"></i>
                    <p>Github</p>
                </li>
                <li><i class="fa fa-envelope fa-lg"></i>
                    <p>Email</p>
                </li>
                <li><i class="fa fa-skype fa-lg"></i>
                    <p>Skype</p>
                </li>
                <li><i class="fa fa-linkedin fa-lg"></i>
                    <p>LinkedIn</p>
                </li>
                <li>
                    <i class="fa fa-trello fa-lg" aria-hidden="true"></i>
                    <p>Trello</p>
                </li>
            </ul>
        </div>
    </section>
    <footer></footer>
    <!--JQUERY-->
    <!--<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>-->
    <!--<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>-->
    <script type="text/javascript" src="/js/index.js"></script>
    <!--<script>
        AOS.init({
            disable: 'mobile'
        });
    </script>-->
</body>

</html>