/*#contact {
    background: #232323;
}

#contact .banner {
    width: 3em;
}*/

.contact-info ul {
    list-style-type: none;
    float: none;
    margin-top: 3em;
}

.contact-info li {
    width: 30%;
    margin: auto;
}

.contact-container {
    padding: 1em;
}